@charset "utf-8";

body{
	font-size:150%;
}

html, body{
	margin: 0;         /* 余白の削除 */
	padding: 0;        /* 余白の削除 */
	width:100%;
	height:100%;
}

div#query-area
{
	position: fixed;            /* フッターの固定 */
	bottom: 0px;                /* 位置(下0px) */
	left: 0px;                  /* 位置(左0px) */
	width: 100%;                /* 横幅100%　*/
	/*height: 140px;*/              /* 縦幅140px */
}

#timeline{
	padding-bottom: 85px;		/* #query-area + マージン */
}

.timeline__item__query__string{
	border-radius: 5pt;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.25);
}

#query-area__query-input__input{
	width:100%;
	font-size:150%;
	height:60px;
	/*font-family: Consolas, 'Courier New', Courier, Monaco, monospace;*/
}

#query-area__query-incrementals{
	width:100%;
	font-size:40%;
	height:15px;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

