@charset "utf-8";

html{
	background: linear-gradient(-30deg, rgba(190, 255, 190, 1), rgba(215, 255, 215, 1));
}
body{
	background: url("./image/sky.png") center center / cover no-repeat fixed
}
/* Text and background color for light mode */
body {
	color: #333;
}

body{
	font-size:150%;
}

html, body{
	margin: 0;				/* 余白の削除 */
	padding: 0;				/* 余白の削除 */
	width:100%;
	height:100%;
}

/* ****
 * general
 * **** */

.goto-google-translate-button{
	text-decoration: underline;
	margin-left:5px;
	margin-right:5px;
	border: 1px solid;
	border-color: rgba( 128, 128, 128, 0.5);
	cursor: pointer;	/* リンクカーソル */
}

.juriamo_assign{
	display: none; /* デフォルト非表示(設定で表示) */
	font-size:40%;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}


/* ****
 * timeline
 * **** */

#timeline{
	padding-bottom: calc((60px + 23px) + 10px);		/* #query-area + マージン */
}

.timeline__item__query{
	margin: 3px;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.25);
}

/** ex."kio estas cxi tio" */
.timeline__item__query__string{
	border-left: solid 7px rgba(0, 170, 0, 1);
}

/** ex. if single word and word converting " -> `esti` of radiko match" */
.timeline__item__query__sub-string{
	font-size:40%;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

/** ex. "cxi tio" */
.timeline__item__response__keyword{
	margin-left: 3px;
	border-left: solid 3px rgba(0, 170, 0, 0.8);
}

/** ex. "`bon/a`:{Ｂ}良い,善良な,りっぱな" */
.timeline__item__response__string__sub{
	font-size: 50%;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

/** ex. "Juriamo assign: `Ｂｏｎａｎ ｍａｔｅｎｏｎ㍉`" */
.timeline__item__response__string__sub__juriamo_assign{
}


/* ****
* Query area
* **** */

#query-area{
	background: rgba(190, 255, 190, 1.0);
}

#query-area
{
	position: fixed;			/* フッターの固定 */
	bottom: 0px;				/* 位置(下0px) */
	left: 0px;				/* 位置(左0px) */
	width: 100%;				/* 横幅100%　*/
	/*height: 140px;*/			/* 縦幅140px */
}

#query-area__query-input{
}

/** text input (input Element) */
#query-area__query-input__input{
	width:99%;
	font-size:150%;
	height:60px;
	vertical-align: middle;
	/*font-family: Consolas, 'Courier New', Courier, Monaco, monospace;*/
	background-color: rgba(250, 255, 250, 0.1);
}

/* query icon button for lina_dicto_for_android */
#query-area__query-input__button{
	/* height:60px; */
	vertical-align: middle;
	display:none;
}

/**
インクリメンタルサーチ(入力候補)
ex. "bona | Bonaero | bonaj^o"
 */
#query-area__query-incrementals{
	margin-top:3px;
	margin-bottom:2px;
	width:100%;
	font-size:60%;
	height:18px;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

#query-area__query-incrementals .input-replace-button{
	margin-left:5px;
	margin-right:5px;
	border: 1px solid;
	border-color: rgba(160, 160, 160, 0.4);
	cursor: pointer;	/* リンクカーソル */
}


/* ****
* dark mode
* **** */

@media (prefers-color-scheme: dark) {
	html{
		background: rgb(20, 21, 20);
	}
	body{
		background: url("./image/sky-darkmode.png") center center / cover no-repeat fixed
	}

	body {
		color: #ddd;
		background-color: rgb(20, 21, 20);
		font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	}

	.timeline__item__query{
		background-color: rgba(0, 0, 0, 0.8);
	}

	#query-area{
		background-color: rgba(33, 35, 33, 1.0);
		color: #ddd;
	}
	#query-area__query-input__input{
		color: #ddd;
	}
}
