@charset "utf-8";

body{
	font-size:150%;
}

html, body{
	margin: 0;         /* 余白の削除 */
	padding: 0;        /* 余白の削除 */
	width:100%;
	height:100%;
}

div#query-area
{
	position: fixed;            /* フッターの固定 */
	bottom: 0px;                /* 位置(下0px) */
	left: 0px;                  /* 位置(左0px) */
	width: 100%;                /* 横幅100%　*/
	/*height: 140px;*/              /* 縦幅140px */
}

#timeline{
	padding-bottom: 85px;		/* #query-area + マージン */
}

.timeline__item__query__string{
	border-radius: 5pt;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.25);
}

.timeline__item__response__string__sub{
	/* ex. "`bon/a`:{Ｂ}良い,善良な,りっぱな" */
	font-size:40%;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

#query-area__query-input{
}

#query-area__query-input__input{
	width:99%;
	font-size:150%;
	height:60px;
	vertical-align: middle;
	/*font-family: Consolas, 'Courier New', Courier, Monaco, monospace;*/
}

#query-area__query-input__button{
	height:60px;
	vertical-align: middle;
	display:none;
}

#query-area__query-incrementals{
	margin-top:3px;
	width:100%;
	font-size:40%;
	height:15px;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

.query-area__query-incrementals__candidate{
	margin-left:5px;
	margin-right:5px;
	border: 1px solid;
	border-color: rgba( 0, 0, 0, 0.1);
	cursor: pointer;	/* リンクカーソル */
}

