@charset "utf-8";
/** @file

@brief
lina_dictoのユーザ拡張サンプル css部分

@detail
特に記載が無ければ、Elementタグはすべて<div>を使用している。

queryとresponse(検索キーワードと意味)は繰り返し登場するので共通のclass属性で与えられる。
また、それとは別に、queryとresponseの対が特定できるMessageId(ゼロからインクリメントされていく値)が、id属性で与えられる。

 */

body{
	background: url("image/sky.png") center center / cover no-repeat fixed,
			linear-gradient(-30deg, rgba(181, 228, 225, 1), rgba(181, 228, 255, 1));
}

#timeline{
	/* タイムライン(検索履歴) */
}

#timeline__welcome-message{
	/* 最初にタイムラインに表示される文字列(responseとほぼ同じ構造)*/
}

.timeline__query{
	/*
	クエリ文字列Element
	responseと対応するMessageIDがidとして付与される // ex. id="timeline__query--${MessageId}"
	ex. "bona"
	 */
}

.timeline__query__icon{
}

.timeline__query__string{
}

.timeline__response{
	/* queryと対応するMessageIDがidとして付与される */
}

.timeline__response__icon{
}

.timeline__response__string{
}

.timeline__response__string__main{
	/* ex. "良い,善良な,りっぱな" */
}

.timeline__response__string__sub{
	/* ex. "`bon/a`:{Ｂ}良い,善良な,りっぱな" */
}

#query-area{
	/* 入力欄 */
}
#query-area__query-input{
	/* 入力欄Element(<input>)の枠 */
}
#query-area__query-input__input{
	/* 入力欄Element(<input>) */
	background-color: rgba(230,230,255,0.2);
}

#query-area__query-incrementals{
	/*
	インクリメンタルサーチ(入力候補)
	ex. "bona | Bonaero | bonaj^o"
	 */
color: rgba(0,0,40,0.7);
}

